doctype html
html.styleguide
    title= options.title
    meta(name="viewport" content="width=device-width, initial-scale=1")
    head
        if options.src
          link(rel="stylesheet" href= options.src)
        if options.include
          each asset in options.include
            if asset.split('.').pop() == 'css'
              link(rel="stylesheet" href= asset)
        style
            include ../styles/gfonts.css
            include ../styles/style.css
            include ../styles/prism.css

    body.styleguide__body
        nav.styleguide__nav
            div.styleguide__credentials
                include ../img/logo.svg
                a(href="http://www.x-com.nl") &copy; X-com &nbsp;
                span= new Date().getFullYear()
            hr.styleguide__rule
            ul
                each page in pages
                    li
                        a(href=page.url+'.html')=page.name
                        ul
                            each section in page.sections
                                li
                                    a(href=[page.url+'.html', section.attributes.title.toDash()].join('#'))= section.attributes.title

        div#styleguide__main

        if options.include
          each asset in options.include
            if asset.split('.').pop() == 'js'
              script(data-src=asset data-reload)
        script
            include ../scripts/prism.js
            include ../scripts/main.js
